@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;
    --card: 255 255 255;
    --card-foreground: 20 20 20;
    --popover: 255 255 255;
    --popover-foreground: 20 20 20;
    --primary: 30 30 30;
    --primary-foreground: 250 250 250;
    --secondary: 240 240 240;
    --secondary-foreground: 30 30 30;
    --muted: 240 240 240;
    --muted-foreground: 120 120 120;
    --accent: 240 240 240;
    --accent-foreground: 30 30 30;
    --destructive: 230 50 50;
    --destructive-foreground: 250 250 250;
    --border: 230 230 230;
    --input: 230 230 230;
    --ring: 30 30 30;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 20 20;
    --foreground: 250 250 250;
    --card: 20 20 20;
    --card-foreground: 250 250 250;
    --popover: 20 20 20;
    --popover-foreground: 250 250 250;
    --primary: 250 250 250;
    --primary-foreground: 30 30 30;
    --secondary: 40 40 40;
    --secondary-foreground: 250 250 250;
    --muted: 40 40 40;
    --muted-foreground: 180 180 180;
    --accent: 40 40 40;
    --accent-foreground: 250 250 250;
    --destructive: 180 40 40;
    --destructive-foreground: 250 250 250;
    --border: 40 40 40;
    --input: 40 40 40;
    --ring: 220 220 220;
  }
}

@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} 